<h1>All Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path, :class => "new_article" %>


<%= link_to "Ordered by Title", articles_path(:order_by => "title") %>
<%= link_to "Ordered by Published Date", articles_path(:order_by => "published") %>
<%= link_to "Ordered by Word Count", articles_path(:order_by => "wordcount") %>

            <%= d @article %>